# exclude everything except:
# .gitignore
# xslt directory
# RemediatedMetadataPreppedXml
/*
*~
!.gitignore
!/xslt/
!/RemediatedMetadataPreppedXml/
!/RemediatedMetadata/
!/ModsMetadata/
!/shell_scripts/